<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(pageTitle = ${note.getLectureName()})">
</head>
<body>
<div th:replace="fragments/layout.html :: header"></div>
<div class="container my-5">
    <div class="row">
        <div class="col-xs-12">
            <a href="/profile" class="btn btn-outline-secondary">Ana Sayfaya Dön</a>
            <a th:href="@{/save/{id}(id=${note.getId()})}" class="btn btn-primary">Kaydet</a>
        </div>
    </div>
    <h1 th:text="${note.getLectureName()}"></h1>
    <div class="jumbotron" th:utext="${note.getLectureNote()}">
    </div>
</div>
</body>
</html>