<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(pageTitle = 'Profilim')">
</head>
<body>
<div th:replace="fragments/layout.html :: header"></div>
<div class="container">
    <div class="row my-3">
        <div class="col-md-3 mb-3">
            <img src="https://i.ibb.co/Yp8dK7B/default-profile.png" th:src="${student.getProfilePictureUrl()}" class="img-thumbnail" style="max-width: 200px" alt="profile picture">
        </div>
        <div class="col-md-8">
            <h4 th:text="${student.getFullName()}">Ad Soyad</h4>
            <h6 th:text="${student.getUniversity() ?: 'Üniversite belirtilmemiş'}">Üniversite adı</h6>
            <h6 class="text-muted" th:text="${student.getDepartment() ?: 'Bölüm belirtilmemiş'}">Bölüm adı</h6>
            <a href="/changeProfile" class="btn btn-outline-primary">Profil bilgilerini değiştir</a>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6 mb-3">
            <h4>Kaydettiğim Notlar</h4>
            <ul class="list-group">
                <li class="list-group-item" th:each="note: ${student.getFavouriteNotes()}">
                    <a th:href="@{/note/{id}(id=${note.getId()})}"><h6 th:text="${note.getLectureName()}"></h6></a>
                    <small class="text-muted" th:text="'Öğretim görevlisi: ' + ${note.getLecturerName()}"></small>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Benim Notlarım</h4>
            <a href="/newnote" class="btn btn-primary">Ders Notu Ekle</a>
            <ul class="list-group mt-3" th:each="note: ${student.getSelfNotes()}">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-8">
                            <a th:href="@{/note/{id}(id=${note.getId()})}"><h6 th:text="${note.getLectureName()}"></h6></a>
                            <small class="text-muted" th:text="${note.getLecturerName()}"></small>
                        </div>
                        <div class="col-sm-4">
                            <small th:text="${#dates.format(note.getCreationDate(), 'dd/MM/yyyy') + ' tarihinde eklendi'}"></small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
