<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(pageTitle = 'Arama Sonuçları')">
</head>
<body>
<div th:replace="fragments/layout.html :: header"></div>
<div class="container">
    <div class="jumbotron">
        <h1>Sonuçlar</h1>
        <ul class="list-group" th:each="note: ${notes}">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-8">
                        <a th:href="@{/note/{id}(id=${note.getId()})}"><h5 th:text="${note.getLectureName()}"></h5></a>
                        <span class="text-muted" th:text="${note.getLecturerName()}"></span>
                    </div>
                    <div class="col-sm-4">
                        <span th:text="${#dates.format(note.getCreationDate(), 'dd/MM/yyyy') + ' tarihinde eklendi'}"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
